h1{
    color: brown;
    background-color: antiquewhite;
    padding: 10px;
    background-position: 20px;
    text-align: center;
}
p{
    color: blue;
    border: 5px solid gray;
    background-color: rgb(255, 205, 145);
    padding: 16px;
    border-radius: 20px;
    text-align: justify;
}